html{
  height: 100%;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}
div .title{
  display: flex;
  justify-content: center;
  padding: 1rem;
}
div .neon{
  color: white;
  text-shadow:
          0 0 7px #fff,
          0 0 10px #fff,
          0 0 21px #fff,
          0 0 42px #c2d4ff,
          0 0 82px #97b6ff,
          0 0 92px #709bff,
          0 0 102px #598bff,
          0 0 151px #ffc3d9;
}
h1{
  text-transform: uppercase;
}
